/*
 * Copyright (c) 2023 Rick Widen
 *
 * SPDX-License-Identifier: MIT
 */
/ {
    behaviors {
        kp: kp {
            compatible = "zmk,behavior-key-press";
            label = "KP";
        };
    };
};
