/ {
  keymap {
    compatible = "zmk,keymap";

    layout = <0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09
              0x10 0x11 0x12 0x13 0x14 0x15 0x16 0x17 0x18 0x19
              0x20 0x21 0x22 0x23 0x24 0x25 0x26 0x27 0x28 0x29
              0x30 0x31 0x32 0x33 0x34 0x35 0x36 0x37 0x38 0x39
              0x40 0x41 0x42 0x43 0x44 0x45 0x46 0x47 0x48 0x49
              0x50 0x51 0x52 0x53 0x54 0x55 0x56 0x57 0x58 0x59
              0x5A>;

    bindings = <
      &kp NUM_1
      &kp AT
      &kp NUM_3
      &kp NUM_4
      &kp NUM_5
      &kp NUM_6
      &kp NUM_7
      &kp NUM_8
      &kp NUM_9
      &kp NUM_0

      &kp Q
      &kp W
      &kp E
      &kp R
      &kp T
      &kp Y
      &kp U
      &kp I
      &kp O
      &kp P

      &kp A
      &kp S
      &kp D
      &kp F
      &kp G
      &kp H
      &kp J
      &kp K
      &kp L
      &kp SEMI

      &kp Z
      &kp X
      &kp C
      &kp V
      &kp B
      &kp N
      &kp M
      &kp COMMA
      &kp DOT
      &kp SLASH

      &kp TAB
      &kp LCTRL
      &kp LALT
      &kp LGUI
      &kp SPACE
      &kp ENTER
      &kp BACKSPACE
      &kp ESC
      &kp MINUS
      &kp EQUAL
    >;
  };
};
